<div class="registration-container">
  <h2>Register</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" #registrationFormDirective="ngForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        id="name"
        formControlName="name"
        required
        class="form-control"
        placeholder="Enter your name"
      />
      <div *ngIf="registrationForm.get('name')?.invalid && registrationForm.get('name')?.touched" class="error-message">
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        id="password"
        formControlName="password"
        required
        class="form-control"
        placeholder="Enter your password"
      />
      <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="error-message">
        <div *ngIf="registrationForm.get('password')?.errors?.['required']">password is required.</div>
        <div *ngIf="registrationForm.get('password')?.errors?.['password']">Invalid password format.</div>
      </div>
    </div>

    <button type="submit" [disabled]="registrationForm.invalid">Register</button>
  </form>
  <p>{{ message }}</p>
</div>